@namespace MudBlazor.ThemeManager

<div class="mud-thememanager-button rounded-l px-3 pt-2 pb-1" @onclick="OnClick">
    <MudIcon Icon="@Icons.Material.Outlined.Settings" Class="mud-thememanager-button-spin" />
</div>
