@namespace MudBlazor.ThemeManager

<div class="theme-button mud-theme-secondary rounded-l px-3 pt-2 pb-1" @onclick="OnClick">
    <MudIcon Icon="@Icons.Material.Outlined.Settings" Class="theme-button-spin" />
</div>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}
