.mud-thememanager-button {
    position: fixed;
    top: 40%;
    right: 0;
    box-shadow: 1px 1px 18px #7C4DFF;
    color: #FFFFFF;
    background-color: #7C4DFF;
    cursor: pointer;
}

.mud-thememanager-button-spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mud-thememanager-color-picker .mud-paper, .mud-input {
    color: #424242;
    background-color: #FFFFFF;
}

.mud-thememanager-color-picker .mud-icon-button {
    color: #00000089;
}

.mud-themedrawer {
    color: rgba(0,0,0, 0.7);
    background-color: #FFFFFF;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
