<div class="mud-theme-manager-button px-3 py-2 rounded-br-xl rounded-l-xl"
     @onclick="OnClick">
    <MudIcon Class="mud-theme-manager-button-spin"
             Icon="@Icons.Material.Outlined.Settings" />
</div>